version: '3'
services:
  lemon-server:
    container_name: lemon-server
    build: "."
    volumes:
      - /jbwz/logs/lemon-server/:/jbwz/logs/
      - ${appHome}/view/:/jbwz/view/
    ports:
      - "80:8080"
    environment:
      - TZ=Asia/Shanghai
    networks:
      - web-net

networks:
  web-net:
    external: true

