server:
  port: 8080
  servlet:
    context-path: /oa


spring:
#  resources:
#    static-locations: file:/jbwz/view/
    #=========== jpa 配置
  messages:
    use-code-as-default-message: false
  jpa:
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
  datasource:
    druid:
      url: jdbc:mysql://localhost:3306/jbwz?useUnicode=true&characterEncoding=UTF-8
      username:  root
      password: root
      initialSize: 3
      minIdle: 3
      maxActive: 20
      ## 配置获取连接等待超时的时间
      maxWait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      timeBetweenEvictionRunsMillis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      minEvictableIdleTimeMillis: 300000
      validationQuery: SELECT 1 FROM DUAL
      testWhileIdle: true
      testOnBorrow: false
      testOnReturn: false
      poolPreparedStatements: true
      maxPoolPreparedStatementPerConnectionSize: 20
      # 配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
      filters: stat,wall,slf4j
      # 通过connectProperties属性来打开mergeSql功能；慢SQL记录
      connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

logging:
  path: D:\\jbwz\\logs
jbwz:
  viewPath: D:/jbwz/view/

---
spring:
  profiles: pro
  datasource:
    druid:
      url: jdbc:mysql://mysql-server:3306/jbwz?useUnicode=true&characterEncoding=UTF-8
      username: pro
      password: pro

jbwz:
  viewPath: /jbwz/app/lemon-server-0.0.1/view/
logging:
  path: /jbwz/logs
